@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap");

:root {
  --color-primary: #333333;
  --color-footer: #a9a9a9;
  --color-title: #000000;
  --color-background: #fafafa;
  --color-orange: #f2994a;

  --font-pd: "Playfair Display", serif;
  --font-mo: "Montserrat", sans-serif;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 90%;
  margin: var(--space-md) auto;
}

/* Header */

.header__title {
  color: var(--color-title);
  font-family: var(--font-pd);
  font-size: 1.5rem;
  font-weight: 700;

  margin-bottom: var(--space-sm);
}

.header__description {
  display: flex;
  gap: var(--space-xs);
}

.header__description span {
  color: #c4c4c4;
}

.header__description p {
  font-family: var(--font-mo);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 500;
  color: #4f4f4f;

  margin-bottom: var(--space-md);
}

.header__image img {
  width: 100%;
}

/* Info */

.info__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-md);
  column-gap: var(--space-lg);
}

.info__element:first-child {
  flex-basis: 100%;
}

.info__element {
  display: flex;
  align-items: center;
}

.element__icon {
  transform: scale(0.8);
}

.details__title {
  color: #bdbdbd;
  font-family: var(--font-mo);
  font-size: 0.5rem;
  font-weight: 700;

  text-transform: uppercase;
}

.details__amount {
  font-family: var(--font-mo);
  font-size: 0.625rem;
  font-weight: 500;
}

.orange {
  color: var(--color-orange);
}

/* Ingredients */

.ingredients {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.ingredients h2 {
  font-family: var(--font-pd);
  font-size: 1.125rem;
  font-weight: 700;

  margin-bottom: calc(var(--space-md) * -1);
}

.ingredients__part {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.ingredients__part h3 {
  font-family: var(--font-pd);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;

  margin-bottom: var(--space-sm);
}

.ingredients__part .ingredient {
  display: flex;
  gap: var(--space-xs);

  font-family: var(--font-mo);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.ingredients__part > .ingredient input[type="checkbox"]:checked + label {
  color: #bdbdbd;
}

/* Instructions */

.instructions {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.instructions h2 {
  font-family: var(--font-pd);
  font-size: 1.125rem;
  font-weight: 700;

  margin-bottom: calc(var(--space-md) * -1);
}

.instruction__step {
  display: flex;
  gap: var(--space-sm);
}

.instruction__step span {
  color: #ffffff;
  font-family: var(--font-pd);
  font-size: 1.5rem;
  font-weight: 700;

  border-radius: 6px;
  background-color: var(--color-orange);
  height: max-content;
  padding: 0px 13px 5px;
}

.instruction__step p {
  font-family: var(--font-mo);
  font-size: 1rem;
  font-weight: 400;
}

/* Source */

.instructions h3 * {
  color: #bdbdbd;
  font-family: var(--font-mo);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
}

/* Footer */

.footer * {
  color: var(--color-footer);
  font-family: var(--font-mo);
  font-size: 0.875rem;
  font-weight: 600;

  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  /* Grid */

  .container {
    width: 70%;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header ."
      "image image"
      "ingredients info"
      "instructions ."
      "footer footer";
  }
  .header__image {
    grid-area: image;
  }
  .info {
    grid-area: info;
  }
  .ingredients {
    grid-area: ingredients;
  }
  .instructions {
    grid-area: instructions;
  }
  .footer {
    grid-area: footer;
  }

  /* Header */

  .header {
    grid-area: header;
  }

  .header__title {
    font-size: 3rem;
  }

  .header__description p {
    font-size: 0.875rem;
  }

  /* Info */

  .info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .info__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: fit-content;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }

  .element__icon {
    transform: scale(0.9);
    margin-right: var(--space-sm);
  }

  .details__title {
    font-size: 0.625rem;
  }

  .details__amount {
    font-size: 0.875rem;
  }

  /* Ingredients */

  .ingredients h2 {
    font-size: 1.5rem;
  }

  .ingredients__part h3 {
    font-size: 1.125rem;
  }

  .ingredients__part .ingredient {
    font-size: 1rem;
  }

  .ingredients__part .ingredient input {
    margin-right: var(--space-sm);
  }

  /* Instructions */

  .instructions h2 {
    font-size: 1.5rem;
  }

  /* Source */

  .instructions h3 * {
    font-size: 1rem;
  }

  /* Source */
}
